.event-area {
    background-color: whitesmoke;
    margin-bottom: 2rem
}

.event-joined {
    outline: rgb(3, 204, 3) 3px solid;
}

.event-heading {
    background-color: grey
}

.event-description {}